In [38]:
import numpy as np
import pandas as pd

In [5]:
length = 191.5
width = 48
height = 40.75
radius = 16
depth = 2

In [6]:
area_center_rectangle = depth*(width-2*radius)
area_of_circle = np.pi*radius**2

In [7]:
triangle_base = np.sqrt(radius**2 - (radius-depth)**2)
area_of_triangle = (radius-depth)*triangle_base
print("The area of the triangle is {}".format(area_of_triangle))

The area of the triangle is 108.44353369380768

In [8]:
fishy = np.arcsin(triangle_base/radius)
area_of_icecream_cone = (fishy*2/(2*np.pi))*area_of_circle
sap_area = area_of_icecream_cone-area_of_triangle+area_center_rectangle
sap_volume = sap_area*length
sap_gallons = sap_volume/231
print("The sap volume is {}gallons".format(sap_gallons))

The sap volume is 43.878168631196345gallons

In [88]:
def calc_sap_gallons_in_tank(depth,width,radius,length):
    area_center_rectangle = depth*(width-2*radius)
    area_of_circle = np.pi*radius**2
    if (depth<radius):
        triangle_base = np.sqrt(radius**2 - (radius-depth)**2)
        area_of_triangle = (radius-depth)*triangle_base
        fishy = np.arcsin(triangle_base/radius)
        area_of_icecream_cone = (fishy*2/(2*np.pi))*area_of_circle
        area_of_edges = area_of_icecream_cone-area_of_triangle
    else:
        area_of_edges = area_of_circle/2+(2*radius)*(depth-radius)


    sap_area = area_of_edges+area_center_rectangle
    sap_volume = sap_area*length
    sap_gallons = np.round(sap_volume/231,2)

    return sap_gallons

def calc_surface_width(depth,width,radius):
    if (depth<radius):
        triangle_base = np.sqrt(radius**2 - (radius-depth)**2)
        return width + 2*triangle_base - 2*radius
    else:
        return width

def calc_gallons_interp(df,length):
    df.loc[0,'gals_interp'] = 0
    for i in df.index[1:]:
        bottom_width = df.loc[i-1,'widths']
        top_width = df.loc[i,'widths']
        bottom = df.loc[i-1,'depths']
        top = df.loc[i,'depths']
        vol = length*(top-bottom)*(top_width+bottom_width)/2
        gals = np.round(vol/231,2)
        df.loc[i,'gals_interp'] = df.loc[i-1,'gals_interp']+gals

    return df

In [17]:
depth = 50
length = 191.5
width = 48
height = 40.75
radius = 13
gals = calc_sap_gallons_in_tank(depth,width,radius,length)
print("gals vals: {}".format(gals))

gals vals: 1929.48

In [11]:
length = 178.5
width = 54
height = 39
radius = 16
gals = calc_sap_gallons_in_tank(depth,width,radius,length)
print("gals vals: {}".format(gals))

gals vals: 2001.46

In [12]:
length = 178.5
width = 54
length*width

9639.0

In [13]:
length = 191.5
width = 48
length*width

9192.0

In [28]:
radius = 16
width = 54
depth = radius - 0.0001
depth = radius
calc_surface_width(depth,width,radius)

54

In [64]:
depth = np.array(range(0,14))
length = 191.5
width = 48
height = 40.75
radius = 13
sorted(list(zip(depth,[calc_surface_width(cd,width,radius) for cd in depth])),reverse=True)

[(13, 48),
 (12, 47.92296279363144),
 (11, 47.690465157330266),
 (10, 47.29822128134704),
 (9, 46.738633753705955),
 (8, 46.0),
 (7, 45.065125189341586),
 (6, 43.90890230020665),
 (5, 42.49390153191919),
 (4, 40.76166303929372),
 (3, 38.613247725836146),
 (2, 35.856406460551014),
 (1, 32.0),
 (0, 22.0)]

In [63]:
48-13-13

22

In [113]:
length = 191.5
width = 48
height = 40.75
radius = 17

brookside_depths = [0,1,2,3,4,5,6,7,8,9,10,11,12,13.25,20,25,30,36.25]
brookside_widths = [10,19.25,27.25,33.25,37,39.5,41.5,43,44,45.5,46.5,47.375,47.75,48,48,48,48,48]
brookside_dimension_df = pd.DataFrame({'depths':brookside_depths,'widths':brookside_widths})


brookside_dimension_df = calc_gallons_interp(brookside_dimension_df,length)
brookside_dimension_df['gals_radius'] = [calc_sap_gallons_in_tank(cd,width,radius,length) for cd in brookside_depths]
brookside_dimension_df['gals_diff'] = brookside_dimension_df['gals_radius'] - brookside_dimension_df['gals_interp']
brookside_dimension_df['width_calculated'] = [calc_surface_width(cd,width,radius) for cd in brookside_depths]
brookside_dimension_df['width_diff'] = brookside_dimension_df['width_calculated'] - brookside_dimension_df['widths']
brookside_dimension_df = brookside_dimension_df[['depths','widths','width_calculated','width_diff','gals_interp','gals_radius','gals_diff']]
brookside_dimension_df

,depths,widths,width_calculated,width_diff,gals_interp,gals_radius,gals_diff
0,0.00,10.000,14.000000,4.000000,0.00,0.00,0.00
1,1.00,19.250,25.489125,6.239125,12.12,17.99,5.87
2,2.00,27.250,30.000000,2.750000,31.39,41.12,9.73
3,3.00,33.250,33.287302,0.037302,56.47,67.41,10.94
4,4.00,37.000,35.908902,-1.091098,85.59,96.13,10.54
5,5.00,39.500,38.083189,-1.416811,117.30,126.82,9.52
6,6.00,41.500,39.922963,-1.577037,150.87,159.18,8.31
7,7.00,43.000,41.495454,-1.504546,185.90,192.94,7.04
8,8.00,44.000,42.844410,-1.155590,221.96,227.91,5.95
9,9.00,45.500,44.000000,-1.500000,259.06,263.92,4.86
10,10.00,46.500,44.983867,-1.516133,297.19,300.82,3.63
11,11.00,47.375,45.811947,-1.563053,336.10,338.46,2.36
12,12.00,47.750,46.496154,-1.253846,375.53,376.74,1.21
13,13.25,48.000,47.162479,-0.837521,425.14,425.28,0.14
14,20.00,48.000,48.000000,0.000000,693.74,693.01,-0.73
15,25.00,48.000,48.000000,0.000000,892.70,891.98,-0.72
16,30.00,48.000,48.000000,0.000000,1091.66,1090.94,-0.72
17,36.25,48.000,48.000000,0.000000,1340.36,1339.64,-0.72

In [115]:
length = 178.5
width = 54
height = 39
radius = 18

roadside_depths = [0,2.75,3.75,4.75,5.75,6.75,8.75,9.75,10.75,11.75,16,20,25,30,35,39]
roadside_widths = [22,38.75,41.125,43.625,45.375,46.25,48.5,49.25,50.75,51.75,54,54,54,54,54,54]
roadside_dimension_df = pd.DataFrame({'depths':roadside_depths,'widths':roadside_widths})

roadside_dimension_df = calc_gallons_interp(roadside_dimension_df,length)
roadside_dimension_df['gals_radius'] = [calc_sap_gallons_in_tank(cd,width,radius,length) for cd in roadside_depths]
roadside_dimension_df['gals_diff'] = roadside_dimension_df['gals_radius'] - roadside_dimension_df['gals_interp']
roadside_dimension_df['width_calculated'] = [calc_surface_width(cd,width,radius) for cd in roadside_depths]
roadside_dimension_df['width_diff'] = roadside_dimension_df['width_calculated'] - roadside_dimension_df['widths']
roadside_dimension_df = roadside_dimension_df[['depths','widths','width_calculated','width_diff','gals_interp','gals_radius','gals_diff']]
roadside_dimension_df

,depths,widths,width_calculated,width_diff,gals_interp,gals_radius,gals_diff
0,0.00,22.000,18.000000,-4.000000,0.00,0.00,0.00
1,2.75,38.750,37.124591,-1.625409,64.55,65.79,1.24
2,3.75,41.125,39.994317,-1.130683,95.41,95.62,0.21
3,4.75,43.625,42.366986,-1.258014,128.15,127.47,-0.68
4,5.75,45.375,44.377073,-0.997927,162.54,161.00,-1.54
5,6.75,46.250,46.102491,-0.147509,197.94,195.98,-1.96
6,8.75,48.500,48.882843,0.382843,271.16,269.48,-1.68
7,9.75,49.250,49.996094,0.746094,308.93,307.69,-1.24
8,10.75,50.750,50.950721,0.200721,347.57,346.71,-0.86
9,11.75,51.750,51.760184,0.010184,387.17,386.40,-0.77
10,16.00,54.000,53.777088,-0.222912,560.82,560.29,-0.53
11,20.00,54.000,54.000000,0.000000,727.73,727.09,-0.64
12,25.00,54.000,54.000000,0.000000,936.37,935.72,-0.65
13,30.00,54.000,54.000000,0.000000,1145.01,1144.36,-0.65
14,35.00,54.000,54.000000,0.000000,1353.65,1353.00,-0.65
15,39.00,54.000,54.000000,0.000000,1520.56,1519.91,-0.65

In [93]:
roadside_dimension_df

    depths  widths  gals_interp  gals_radius  difference
0     0.00  22.000         0.00         0.00        0.00
1     2.75  38.750        64.55        72.63        8.08
2     3.75  41.125        95.41       104.55        9.14
3     4.75  43.625       128.15       138.32       10.17
4     5.75  45.375       162.54       173.63       11.09
5     6.75  46.250       197.94       210.23       12.29
6     8.75  48.500       271.16       286.55       15.39
7     9.75  49.250       308.93       325.96       17.03
8    10.75  50.750       347.57       366.03       18.46
9    11.75  51.750       387.17       406.64       19.47
10   16.00  54.000       560.82       582.73       21.91
11   39.00  54.000      1520.55      1542.46       21.91

In [67]:
depth = np.array([0,2.75,3.75,4.75,5.75,6.75,8.75,9.75,16])
length = 178.5
width = 54
height = 39
radius = 16
sorted(list(zip(depth,[calc_surface_width(cd,width,radius) for cd in depth])),reverse=True)

[(16.0, 54),
 (9.75, 51.457596643310865),
 (8.75, 50.526303651191824),
 (6.75, 48.11034277829381),
 (5.75, 46.571324750611225),
 (4.75, 44.7541205059655),
 (3.75, 42.58518885023889),
 (2.75, 39.9373911146521),
 (0.0, 22.0)]

In [51]:

roadside_depths = [0,2.75,3.75,4.75,5.75,6.75,8.75,9.75,10.75,11.75,16,39]
length = 178.5
width = 54
height = 39
radius = 16

gals_nominal = [calc_sap_gallons_in_tank(cd+2.75,width,radius,length) for cd in depth]
gals_large = [calc_sap_gallons_in_tank(cd+2.75,width,radius-radius,length) for cd in depth]
diff = [l-n for l,n in list(zip(gals_large,gals_nominal))]
sorted(list(zip(depth,gals_nominal,gals_large,diff)),reverse=True)

[(13, 572.3, 657.2, 84.90000000000009),
 (12, 530.6, 615.48, 84.88),
 (11, 489.03, 573.75, 84.72000000000003),
 (10, 447.67, 532.02, 84.34999999999997),
 (9, 406.64, 490.3, 83.66000000000003),
 (8, 366.03, 448.57, 82.54000000000002),
 (7, 325.96, 406.84, 80.88),
 (6, 286.55, 365.11, 78.56),
 (5, 247.92, 323.39, 75.47),
 (4, 210.23, 281.66, 71.43000000000004),
 (3, 173.63, 239.93, 66.30000000000001),
 (2, 138.32, 198.2, 59.879999999999995),
 (1, 104.55, 156.48, 51.92999999999999)]

In [78]:
roadside_dimension_df

    depths  widths
0     0.00  22.000
1     2.75  38.750
2     3.75  41.125
3     4.75  43.625
4     5.75  45.375
5     6.75  46.250
6     8.75  48.500
7     9.75  49.250
8    10.75  50.750
9    11.75  51.750
10   16.00  54.000
11   39.00  54.000

In [79]:
brookside_dimension_df

    depths  widths
0     0.00  10.000
1     1.00  19.250
2     2.00  27.250
3     3.00  33.250
4     4.00  37.000
5     5.00  39.500
6     6.00  41.500
7     7.00  43.000
8     8.00  44.000
9     9.00  45.500
10   10.00  46.500
11   11.00  47.375
12   12.00  47.750
13   13.25  48.000
14   36.25  48.000

In [83]:
for i in brookside_dimension_df.index[1:]:
    print(brookside_dimension_df.loc[i,['depths','widths']].values)

[ 1.   19.25]
[ 2.   27.25]
[ 3.   33.25]
[ 4. 37.]
[ 5.  39.5]
[ 6.  41.5]
[ 7. 43.]
[ 8. 44.]
[ 9.  45.5]
[10.  46.5]
[11.    47.375]
[12.   47.75]
[13.25 48.  ]
[36.25 48.  ]